* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(18,22,29);
}
.main_logo {
  width: 24px;
  height: 24px;
}
.main_logo_background {
  border-radius: 7px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.whole_view {
  display: flex;
  align-items: stretch;
  height: 100vh;
}
.navigation_side {
  flex-basis: 255.2px;
  border-right: 1px solid rgb(41,44,54);
  padding: 10px 15px 15px 15px;
}
.logo_part {
  display: flex;
  height: 56px;
  align-items: center;
}
.navigation_block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation_blocks {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}
span {
  color: rgba(255, 255, 255, 0.521);
}
.main_name {
  color: white;
  font-size: 20px;
}
.margin_right {
  margin-right: 10px;
}
.padding {
  padding: 10px;
}
.cutter_line {
  min-width: 20px;
  min-height: 1px;
  background-color: rgba(255, 255, 255, 0.057);
  margin-bottom: 20px;
  border-radius: 20px;
}
.margin_top {
  margin-top: 20px;
}
.navigation_shorter {
  position: absolute;
  left: 235px;
  width: 37.6px;
  height: 37.6px;
  border: 1px solid rgb(41,44,54);
  border-radius: 7px;
  background-color: rgb(22,26,35);
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  width: 8px;
  height: 8px;
  rotate: 45deg;
}
.blue_activation {
  background-color: rgb(16,33,52);
  border-radius: 7px;
}
.user_identity {
  padding-bottom: 10px;
}
.main_side {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main_topper {
  display: flex;
  flex-basis: 64px;
  justify-content: flex-end;
  border-bottom: 1px solid rgb(41,44,54);
}
.main_body {
  display: flex;
  flex-grow: 1;
  overflow-y: scroll;
}
.screen {
  flex-grow: 1;
  background-color: rgb(14,17,23);
  flex-basis: 71%; 
  display: flex;
}
.sidebar {
  flex-grow: 1;
  background-color: rgb(18,22,29);
  flex-basis: 29%;
}
.comp_science {
  flex-grow: 1;
}
.english {
  flex-grow: 1;
}
.elements {
  display: inline;
  min-width: 268px;
  min-height: 250px;
  border: 1px solid rgb(18,22,29);
}